<app-page-shell [title]="''">
  @if (auth.isProfileLoading()) {
    <app-challenge-list-skeleton [count]="3" [ariaLabel]="'home.loading' | t" />
  } @else if (!auth.linkedAccount()) {
    <p class="state">
      {{ 'home.linkAccountFirst' | t }}
      <button type="button" class="state-link" (click)="settingsModal.open()">{{ 'home.openSettings' | t }}</button>
    </p>
  } @else if (loading()) {
    <app-challenge-list-skeleton [count]="3" [ariaLabel]="'home.loading' | t" />
  } @else if (error()) {
    <p class="state state--error">{{ error() }}</p>
  } @else if (challenges().length === 0) {
    <p class="state">{{ 'home.emptyParticipating' | t }}</p>
  } @else {
    <div class="challenge-grid">
      @for (challenge of challenges(); track challenge.id) {
        <app-challenge-card [challenge]="challenge" />
      }
    </div>
  }
</app-page-shell>
